progress[value]::-moz-progress-value {
		background-color: white;

	}

input[type=range]::-moz-range-track {
		appearance:none !important;
		outline: none !important;
	    width: 300px;
	    height: 3px;
	    border-radius: 0px;
	    z-index: 1;
	    opacity: -1;
	}

	/*hide the outline behind the border*/
	input[type=range]::-moz-focusring{
	    outline: none;
	    border: none;
	}

	input[type=range]::-moz-range-thumb {
    	display: none;
	}

	